/* Обнуление */
 
html {
 box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit;
}
img {
 display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a {
 padding: 0;
 margin: 0;
}
body {
 margin: 0;
 padding: 0;
 background-color: var(--darck-color);
}

/* Переменные с цветами */

:root {
 --darck-color: #212721;
 --light-color: #D6D1CA;
 --gray-color: #4A524A;
 --acent-color: #FFEA00;
}

/* Стили для текста */

.text_h1 {
 font-family: 'SourceSans3Bold';
 font-size: 50px;
 line-height: 50px;
 text-transform: uppercase;
 color: var(--light-color);
}
.text_a {
 text-decoration: none;
 font-family: 'SourceSans3Regular';
 font-size: 14px;
 color: var(--light-color);
}
.text_a:hover {
 color: var(--acent-color);
}
.text_h2 {
 font-family: 'SourceSans3Light';
 font-size: 47px;
 text-transform: uppercase;
 letter-spacing: 3px;
 color: var(--light-color);
}

.text_h3 {
 font-family: 'SourceSans3Regular';
 font-size: 19px;
 line-height: 24px;
 letter-spacing: 3px;
 color: var(--light-color);
 text-transform: uppercase;
}
.text_p {
 font-family: 'SourceSans3Regular';
 font-size: 18px;
 line-height: 24px;
 color: var(--light-color);
} 
/* 
.btn {
 font-family: 'RobotoRegular';
 font-size: 16px;
 color: var(--white-color);
 background-color: var(--darck-color);
 border: solid 1px var(--darck-color);
 border-radius: 24px;
 width: 208px;
 height: 48px;
}
.btn:hover {
  color: var(--darck-color);
  background-color: var(--white-color);
 }
.btn__transparent {
 font-family: 'RobotoRegular';
 font-size: 16px;
 color: var(--darck-color);
 background-color: var(--white-color);
 border: solid 1px var(--darck-color);
 border-radius: 24px;
 width: 210px;
 height: 50px;
}
.btn__transparent:hover {
 color: var(--white-color);
 background-color: var(--darck-color);
} */

/* Контэйнер */

.container {
 max-width: 1240px;
 margin: 0 auto;
}

/* Header */

.header {
  padding-top: 91px;
  margin-bottom: 86px;
}
.header__flex {
  padding-left: 1px;
  display: flex;
}
.header__img {
  margin-right: 100px;
}
.header__item_right {
  padding-top: 58px;
}
.header__sutitle {
  font-family: 'SourceSans3Bold';
  font-size: 47px;
  line-height: 50px;
  color: var(--light-color);
  text-transform: uppercase;
  margin-bottom: 72px;
}
.header__sutitle span {
  font-family: 'SourceSans3Italic';
}
.header__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 51px 7px;  
}
.header__card {
  display: flex;
}
.header__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.header__card_title {
  margin-bottom: 5px;
}
.header__text {
  max-width: 166px;
}

/* Our blog */

.ourblog {
}
.ourblog__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 140px;
  margin-bottom: 79px;
}
.ourblog__title {
}
.ourblog__link {
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1px;
  border-bottom: solid 1px #4A524A;
  margin-right: 143px;
}
.ourblog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.ourblog__card {
  margin-bottom: 103px;
  background-color: var(--gray-color);
}
.ourblog__card_img {
}
.qoublog__details {
  padding-top: 30px;
  padding-left: 30px;
}
.ourblog__card_title {
  display: inline-block;
  color: #ffffff;
  font-family: 'SourceSans3Regular';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  padding: 2px 17px 0px 9px;
  border-radius: 2px;
  background-color: #00663F;
  text-align: center;
  margin-bottom: 14px;
}
.qoublog__text {
  
  font-family: 'SourceSans3Regular';
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 256px;
  margin-bottom: 39px;
}
.ourblog__card_link {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 32px;
}




@media screen and (max-width: 1370px) {
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 878px) {
  
}
